.table {
  width: 900px;
  margin: 0 auto;
}

.table__columns {
  width: 350px;
  min-height: 40px;
}

.table__columns_head {
  width: 350px;
  min-height: 40px;
  background-color: #ff6347;
  text-align: center;
}

.table__columns_body {
  border: 2px solid black;
  background-color: white;
}

.table__button {
  background-image: url('/images/close.svg');
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  border: none;
  background-color: #2e8b57;
  cursor: pointer;
}
